:root {
  font-family: sans-serif;
  font-size: 1rem;

  color-scheme: light dark;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

[data-theme="light"] {
  --color-bg: #f1f1f1;
  --color-fg: #121212;
  --color-bg-button: lightgray;
  --color-fg-button: #121212;
  --color-bg-form-element: gray;
  --color-fg-form-element: #121212;
}

[data-theme="dark"] {
  --color-bg: #121212;
  --color-fg: #f1f1f1;
  --color-bg-button: #121212;
  --color-fg-button: lightgray;
  --color-bg-form-element: #121212;
  --color-fg-form-element: lightgray;
}

#themeButton {
  background-color: var(--color-bg-button);
  color: var(--color-fg-button);
  width: 56px;
  height: 40px;
}

* {
  box-sizing: border-box;
}

h1 {
  place-self: center;
}

button:not(#themeButton),
input,
select {
  border-radius: .25rem;
  overflow: auto;
  padding: .5rem 1rem
}

button {
  border: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
}