:root {
  font-family: sans-serif;
  font-size: 1rem;

  color-scheme: light dark;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);

  transition: 0.5s;
}

[data-theme="light"] {
  --color-bg: #f1f1f1;
  --color-fg: #121212;
  --color-bg-button: #f1f1f1;
  --color-fg-button: #121212;
  --color-bg-form-element: lightgray;
  --color-fg-form-element: #121212;
}

[data-theme="dark"] {
  --color-bg: #121212;
  --color-fg: #f1f1f1;
  --color-bg-button: #121212;
  --color-fg-button: #f1f1f1;
  --color-bg-form-element: #1F1F1F;
  --color-fg-form-element: lightgray;
}

#themeButton {
  background-color: var(--color-bg-button);
  color: var(--color-fg-button);
  border-radius: 100%;
  border: .125rem solid var(--color-fg-button);
  height: 36px;
  width: 36px;

  transition: 0.5s;
}

#themeButton:hover {
  box-shadow: inset 0 0 0 2em var(--color-fg);
}

#themeButton > span {
  line-height: unset;
}

* {
  box-sizing: border-box;
}

h1 {
  place-self: center;
}

button:not(#themeButton),
input,
select {
  border-radius: .25rem;
  overflow: auto;
  padding: .5rem 1rem
}

button {
  border: none;
  cursor: pointer;
}

input, select, textarea {
  background-color: var(--color-bg);
  color: var(--color-fg);
  border: var(--color-bg-form-element) 0.125rem solid;
  border-radius: .25rem;
  padding: .5rem 1rem;

  transition: 0.5s;
}

input:hover, select:hover, textarea:hover {
  border-color: var(--color-fg-form-element);
}

table {
  border-collapse: collapse;
}