html {
  --color-fg-dropdown-item: #121212;

  --color-bg: var(--color-secondary);
  --color-fg: var(--color-primary);
  --color-bg-button: var(--color-secondary);
  --color-fg-button: var(--color-primary);
  --color-bg-navbar-item: var(--color-secondary);
  --color-fg-navbar-item: var(--color-primary);
  --color-fg-form-element: var(--color-primary);

  &[data-theme="light"] {
    --color-primary: rgb(18, 18, 18);
    --color-secondary: rgb(241, 241, 241);
    --color-navbar-item-hover: #eee;
    --color-bg-form-element: lightgray;
    --color-hyperlink: var(--color-fg);
  }

  &[data-theme="dark"] {
    --color-primary: rgb(241, 241, 241);
    --color-secondary: rgb(18, 18, 18);
    --color-navbar-item-hover: #555;
    --color-bg-form-element: #1f1f1f;
    --color-fg-form-element: lightgray;
    --color-hyperlink: var(--color-fg);
  }

  &[data-theme="pretty-pink"] {
    --color-primary: rgb(255, 192, 203);
    --color-secondary: rgb(18, 18, 18);
    --color-navbar-item-hover: #555;
    --color-bg-form-element: #1f1f1f;
    --color-hyperlink: var(--color-fg);
  }

  &[data-theme="black-gold"] {
    --color-primary: rgb(255, 215, 0);
    --color-secondary: rgb(18, 18, 18);
    --color-navbar-item-hover: #555;
    --color-bg-form-element: #1f1f1f;
    --color-hyperlink: var(--color-fg);
  }

  &[data-theme="orange-black"] {
    --color-primary: rgb(255, 144, 0);
    --color-secondary: rgb(18, 18, 18);
    --color-navbar-item-hover: #555;
    --color-bg-form-element: #1f1f1f;
    --color-hyperlink: var(--color-fg);
  }
}