#new-entry {
  margin-bottom: 1rem;
}

table {
  & td {
    padding: 0 1rem;
    border: 1px solid var(--color-fg);
    vertical-align: top;

    &.labels-col {
      width: 30%;
    }

    &.data-col {
      position: relative;
      width: 70%;

      & > .new-entry-button {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        place-content: center;
      }
    }
  }
}