html {
  --button-cancel-bg: #b2b2b2;
  --button-cancel-fg: #121212;
}

h1 {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;

  & > * {
    width: 50%;
    margin: 0.5rem auto;
  }
}

.button-submit {
  width: 70%;
}

.button-cancel {
  width: 29.25%;
  background-color: var(--button-cancel-bg);
  color: var(--button-cancel-fg);
}