h1, #form-buttons, label {
  width: 50%;
  margin: 0 auto;
}

h1 {
  padding-bottom: 1rem;
  text-align: center;
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;

  & > input, > textarea {
    width: 50%;
    margin: 0.5rem auto;
  }
}

.button-submit {
  width: 70%;
  transition: 0.5s;

  &:hover {
    background-color: #1F1F1F;
  }
}

.button-cancel {
  width: 29.25%;
  background-color: var(--color-primary);
  color: var(--color-fg-button);
  transition: 0.5s;

  &:hover {
    background-color: #b2b2b2;
  }
}