h1, h2, p, .buttons {
  width: 50%;
  margin: 0 auto;
}

h1, h2 {
  padding-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input, select, textarea {
  width: 50%;
  margin: 0.5rem auto;
}

.button-submit {
  width: 70%;
  transition: 0.5s;
}

.button-submit:hover {
  background-color: #1F1F1F;
}

.button-cancel {
  width: 29.25%;
  background-color: lightgray;
  color: #121212;
  transition: 0.5s;
}

.button-cancel:hover {
  background-color: #b2b2b2;
}