h1 {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;

  & > * {
    width: 50%;
    margin: 0.5rem auto;
  }
}

.button-submit {
  width: 70%;
  transition: 0.5s;
}

.button-cancel {
  width: 29.25%;
  background-color: var(--color-fg-button);
  color: var(--color-bg-button);
  transition: 0.5s;
}

.button-cancel:hover {
  border-color: var(--color-fg-button)
}